html {
  font-family: Verdana, sans-serif;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  padding: 5px 0px;
  color: DarkGrey;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  text-align: center;
  width: 540px;
  margin-left: 435px;
}

#banner {
  background-image: url("./logo-2015large.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 175px;
}

#banner .content h1 {
  text-align: center;
  padding-top: 125px;
  font-size: 36px;
  color: rgb(0, 102, 153);
}
